*{
    
    margin:0;
    padding:0;

}
.button{
    width:70;
    height:70;
    font-size:30;
    border-radius: 30px;
    cursor: pointer;
    display: center ;
    margin: 10;
}



.button:hover{
    background-color: darkslategrey;
    color: floralwhite;
}

.textview{
    width:350;
    height: 90;
    margin:5;
    font-size:25;
    border-radius: 30px;
    
}

body{
    background-image: url(imag2.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
    backdrop-filter: blur(5px);

}


.main{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translateX(-50%)translateY(-50%);
    width: 100%;
    margin: 0rem 35rem;
}



